@model LIMS.Application.Commands.Instrument.CreateInstrumentCommand

@{
    ViewData["Title"] = "Add New Instrument";
    var successMessage = TempData["successMessage"]?.ToString();
    var errorMessage = TempData["errorMessage"]?.ToString();
}

<h2>@ViewData["Title"]</h2>
<hr />
@if (!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success" role="alert">
        <strong>Success! </strong>@successMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
else if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger" role="alert">
        <strong>Error! </strong>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<!-- Form to Create a New Laboratory -->
<form asp-action="CreateInstrument" method="post" autocomplete="off">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Manufacturer</label>
        <input type="text" class="form-control" asp-for="Manufacturer" required />
        <span asp-validation-for="Manufacturer" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Model</label>
        <input type="text" class="form-control" asp-for="Model" required />
        <span asp-validation-for="Model" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">PurchaseDate</label>
        <input type="date" class="form-control" asp-for="PurchaseDate" required />
        <span asp-validation-for="PurchaseDate" class="text-danger"></span>
    </div>   
    <div class="mb-3">
        <label class="form-label">ExpiryDate</label>
        <input type="date" class="form-control" asp-for="ExpiryDate" required />
        <span asp-validation-for="ExpiryDate" class="text-danger"></span>
    </div>    
    <div class="mb-3">
        <label class="form-label">AdditionalNotes</label>
        <input type="text" class="form-control" asp-for="AdditionalNotes" required />
        <span asp-validation-for="AdditionalNotes" class="text-danger"></span>
    </div>    
    <div class="mb-3">
        <label class="form-label">LaboratoryId</label>
        <input type="text" class="form-control" asp-for="LaboratoryId" required />
        <span asp-validation-for="LaboratoryId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Add Instrument</button>
    </div>
</form>

<hr />
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}