################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LIMS.WebApp/FileContentIndex/43cd7718-9c87-418d-8ea7-62449f059418.vsidx
/.vs/LIMS.WebApp/FileContentIndex/80e42788-5e51-4f95-b32f-68dc7d3e0727.vsidx
/.vs/LIMS.WebApp/FileContentIndex/672cea65-d96b-455a-9403-a14343bde577.vsidx
