################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studio 2015 cache/options directory
.vs/
# Uncomment if you have tasks that create the project's static files in wwwroot
#wwwroot/


# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# NUNIT
*.VisualState.xml
TestResult.xml
/LIMS.WebApp/obj/Debug/net8.0/apphost.exe
/LIMS.WebApp/obj/Debug/net8.0/LIMS.WebApp.AssemblyInfo.cs
/LIMS.WebApp/obj/Debug/net8.0/LIMS.WebApp.AssemblyInfoInputs.cache
/LIMS.WebApp/obj/Debug/net8.0/LIMS.WebApp.dll
/LIMS.WebApp/obj/Debug/net8.0/LIMS.WebApp.pdb
/LIMS.WebApp/obj/Debug/net8.0/LIMS.WebApp.sourcelink.json
/LIMS.WebApp/obj/Debug/net8.0/refint/LIMS.WebApp.dll
/LIMS.WebApp/bin/Debug/net8.0/LIMS.WebApp.dll
/LIMS.WebApp/bin/Debug/net8.0/LIMS.WebApp.exe
/LIMS.WebApp/bin/Debug/net8.0/LIMS.WebApp.pdb
/LIMS.WebApp/obj/Debug/net8.0/ref/LIMS.WebApp.dll
