@model LIMS.Application.Commands.Laboratory.CreateLaboratoryCommand

@{
    ViewData["Title"] = "Add New Laboratory";
    var successMessage = TempData["successMessage"]?.ToString();
    var errorMessage = TempData["errorMessage"]?.ToString();
}

<h2>@ViewData["Title"]</h2>
<hr />
@if (!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success" role="alert">
        <strong>Success! </strong>@successMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
else if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger" role="alert">
        <strong>Error! </strong>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<!-- Form to Create a New Laboratory -->
<form asp-action="CreateLab" method="post">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name" required />
    </div>
    <div class="mb-3">
        <label class="form-label">Location</label>
        <input type="text" class="form-control" asp-for="Location" required />
    </div>
    <div class="mb-3">
        <label class="form-label">Contact Number</label>
        <input type="text" class="form-control" asp-for="ContactNumber" required />
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Add Laboratory</button>
    </div>
</form>

<hr />